/* ======== GENERAL STYLING ======== */
body {
	margin: 0px;
}

/* ======== TRIBUTE PAGE HEADING ======== */
#header {
	background: rgb(15, 49, 147);
	display: flex;
	justify-content: center;
}

/* Real Madrid Logo */
#header img {
	margin: 50px 20px;
	height: 200px;
}

/* Title and Subtitle */
#title-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#title {
	margin-bottom: 0px;
	color: #fff;
	font-family: 'Gruppo', cursive;
	letter-spacing: 3px;
  font-size: 40px;
}

#title-content p {
	margin-top: 0px;
	color: #fff;
	font-family: 'Gruppo', cursive;
	font-size: 25px;
}

/* ======== TRIBUTE PAGE MAIN CONTENT ======== */

/* Main Content Container */
#main {
	margin: 50px auto;
	width: 80%;
}

/* Bernabéu Image */
#img-div {
	background: rgb(215, 211, 211);
	padding: 30px 30px 16px 30px;
}

#image {
	max-width: 100%;
	display: block;
	height: auto; 
	margin: 0 auto;
}

#img-caption {
	margin-bottom: 0px;
  text-align: center;
  font-family: 'Gruppo', cursive;
  font-size: 18px;

}

/* ======== TRIBUTE CONTENT ======== */

#tribute-info {
	margin-top: 40px;
}

/* Timeline Title */
#tribute-info h2 {
	color: rgb(15, 49, 147);
	text-align: center;
}

/* Timeline */
#timeline .timeline-item {
	margin-bottom: 10px;
	font-family: 'Gruppo', cursive;
	font-size: 18px;
}

#timeline .timeline-item .timeline-year {
	font-weight: bold;
}

/* Timeline Honours */
.honours-container {
	margin: 10px 40px;
}

.honours-title {
	margin-bottom: 5px;
	font-family: 'Gruppo', cursive;
	font-size: 18px;
}

.honours-item {
	margin-bottom: 5px;
	font-family: 'Gruppo', cursive;
	font-size: 18px;
}

/* ======== TRIBUTE QUOTE ======== */
#tribute-quote {
	width: 50%;
	margin: 0 auto;
	font-size: 18px;
}

#tribute-quote p {
	font-style: italic;
	color: rgb(15, 49, 147);
}

/* ======== TRIBUTE LINK INFORMATION ======== */

#link-info {
	margin-top: 30px;
}

#link-info p {
	font-family: 'Gruppo', cursive;
	font-size: 18px;
}

/* ======== TRIBUTE PAGE FOOTER ======== */
footer {
	background: rgb(215, 211, 211);
	padding: 10px 0px;
	text-align: center;
	border-top: 5px solid rgb(15, 49, 147);
}

footer p {
	color: rgb(105, 100, 100);
	font-family: 'Gruppo', cursive;
}

/* Sticky Footer */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}


