/* ======== TRIBUTE PAGE HEADING ======== */
header {
	background: rgb(11, 11, 181);
	display: flex;
	justify-content: center;
}

#title-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}