/* ======== GENERAL STYLING ======== */
body {
	margin: 0px;
}

/* ======== TRIBUTE PAGE HEADING ======== */
#header {
	background: rgb(15, 49, 147);
	display: flex;
	justify-content: center;
}

/* Real Madrid Logo */
#header img {
	margin: 50px 20px;
	height: 200px;
}

/* Title and Subtitle */
#title-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#title {
	margin-bottom: 0px;
	color: #fff;
}

#title-content p {
	margin-top: 0px;
	color: #fff;
}

/* ======== TRIBUTE PAGE MAIN CONTENT ======== */

/* Main Content Container */
#main {
	margin: 50px auto;
	width: 80%;
}

/* Bernabéu Image */
#img-div {
	background: rgb(215, 211, 211);
	padding: 30px 30px 16px 30px;
}

#image {
	max-width: 100%;
	display: block;
	height: auto; 
	margin: 0 auto;
}

#img-caption {
	margin-bottom: 0px;
  text-align: center;
}

/* ======== TRIBUTE CONTENT ======== */

#tribute-info {
	margin-top: 40px;
}

/* Timeline Title */
#tribute-info h2 {
	color: rgb(15, 49, 147);
	text-align: center;
}

/* Timeline */
#timeline .timeline-item {
	margin-bottom: 10px;
}

#timeline .timeline-item .timeline-year {
	font-weight: bold;
}

/* Timeline Honours */
.honours-container {
	margin: 10px 40px;
}

.honours-title {
	margin-bottom: 5px;
}

.honours-item {
	margin-bottom: 5px;
}

/* ======== TRIBUTE LINK INFORMATION ======== */

#link-info {
	margin-top: 40px;
}






